<header
  class="relative px-5 md:px-9 lg:px-14 pt-6 md:pt-8 lg:pt-10 pb-7 max-w-[90rem] mx-auto"
>
  <!-- main flex header contianer -->
  <div class="flex justify-between items-center">
    <!-- logo -->
    <a href="./index.html">
      <img src="{{ logo }}" alt="{{ logoAlt }}" />
    </a>

    <!-- button: open mobile menu  -->
    <button
      aria-label="Click to open mobile menu"
      id="menuOpen"
      class="md:hidden hover:opacity-80 transition-all duration-200"
    >
      {% include "svg/icon-menu.svg" %}
    </button>

    <!-- desktop menu -->
    <ul class="hidden md:flex gap-8 text-primaryDarkGrayishBlue">
      {% for item in navigation.items %}
      <li class="capitalize">
        <a
          class="hover:text-primaryRed transition-all ease-in duration-75"
          href="{{ item.url }}"
          >{{ item.title }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- end main container -->

  <!-- overlay when mobileMenu is open -->
  <div
    id="mobileOverlay"
    class="hidden absolute top-0 left-0 bg-black opacity-70 min-h-screen w-full"
  ></div>

  <!-- mobile menu -->
  <div
    role="menu"
    id="mobileMenu"
    class="translate-x-full invisible transition-all duration-300 absolute top-0 right-0 w-3/4 min-h-screen bg-white"
  >
    <!-- button: close mobile menu -->
    <button
      class="close-btn"
      aria-label="Click to close mobile menu"
      id="menuClose"
      class="absolute top-8 right-6 opacity-80 hover:opacity-100 transition-all duration-200"
    >
      {% include "svg/icon-menu-close.svg" %}
    </button>

    <!-- mobile menu items -->
    <ul class="md:hidden flex flex-col mt-36 items-left gap-5 pl-5">
      {% for item in navigation.items %}
      <li class="text-lg">
        <a class="capitalize text-primaryVeryDarkBlue" href="{{ item.url }}"
          >{{ item.title }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</header>
