<main class="px-5 md:px-9 lg:px-14 lg:mt-2 max-w-[90rem] mx-auto">
  <!-- main grid -->
  <div class="grid text-left lg:grid-cols-3 lg:gap-4 lg:grid-flow-row">
    <!-- grid item 1 - img -->
    <div class="lg:col-span-2">
      <img
        class="md:hidden"
        src="{{ hero.imgMobile }}"
        alt="{{ hero.imgAlt }}"
      />
      <img
        class="hidden md:block"
        src="{{ hero.imgDesktop }}"
        alt="{{ hero.imgAlt }}"
      />
    </div>

    <!-- grid item 2 - text/btn -->
    <div class="grid mt-5 md:grid-cols-2 lg:col-span-2 lg:mt-0">
      <!-- title -->
      <h1
        class="font-extrabold mb-3 text-primaryVeryDarkBlue text-4xl lg:text-5xl md:text-left md:tracking-wide md:w-3/4 md:self-center lg:self-start lg:w-full lg:leading-[1.20] lg:pl-2"
      >
        {{ hero.title }}
      </h1>
      <!-- summary and btn -->
      <div class="space-y-4 lg:space-y-10">
        <p class="my-3 text-primaryDarkGrayishBlue leading-7 text-[.9375rem]">
          {{ hero.summary }}
        </p>
        <button
          class="font-inter uppercase px-7 py-[.875rem] bg-primaryRed text-sm text-primaryOffWhite tracking-[0.25rem] font-bold md:hover:bg-primaryVeryDarkBlue md:hover:text-primaryOffWhite md:transition duration-75 ease-in"
          href="{{ hero.btnLink }}"
        >
          {{ hero.btnText }}
        </button>
      </div>
    </div>

    <!-- grid item 3 - blog-posts -->
    <div
      class="bg-primaryVeryDarkBlue mt-16 py-4 lg:mt-0 lg:row-start-1 lg:row-end-3 lg:col-start-3"
    >
      <h2
        class="px-5 py-3 text-3xl text-primaryOrange font-extrabold lg:py-5 lg:text-4xl"
      >
        New
      </h2>
      {% for item in blog.items %}
      <div
        class="py-5 lg:py-6 xl:py-8 px-5 space-y-2 border-t border-primaryDarkGrayishBlue border-opacity-50"
      >
        <a
          class="text-primaryOffWhite text-lg font-extrabold md:hover:text-primaryOrange transition-all ease-in duration-75"
          href="{{ item.link }}"
          >{{ item.title }}</a
        >
        <p class="text-sm text-primaryGrayishBlue">{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>

    <!-- grid-item-4 // cards-bottom -->
    <section class="my-14 gap-8 grid lg:grid-cols-3 lg:gap-4 lg:col-span-3">
      {% for item in cards.items %}
      <div class="flex flex-row gap-4 xl:gap-4">
        <img class="w-28 h-fit" src="{{ item.img }}" alt="{{ item.imgAlt }}" />
        <div class="flex flex-col justify-between">
          <h3 class="text-primaryGrayishBlue font-semibold text-3xl">
            {{ item.index }}
          </h3>
          <a
            class="font-bold text-lg md:hover:text-primaryRed transition-all ease-in duration-75"
            href="{{ item.link }}"
            >{{ item.title }}</a
          >
          <p class="text-primaryDarkGrayishBlue">{{ item.text }}</p>
        </div>
      </div>
      {% endfor%}
    </section>
  </div>
</main>
