<main class="px-5">
  <!-- main grid -->
  <div class="grid text-left">
    <!-- grid item 1 img -->
    <div>
      <img src="{{ hero.imgMobile }}" alt="{{ hero.imgAlt }}" />
    </div>
    <!-- grid item 2 text/btn -->
    <div class="mt-5 space-y-4">
      <h1 class="text-primaryVeryDarkBlue text-5xl font-extrabold">
        {{ hero.title }}
      </h1>
      <p class="text-primaryDarkGrayishBlue leading-7 text-[.9375rem]">
        {{ hero.summary }}
      </p>
      <a
        class="font-inter uppercase inline-block px-7 py-[.875rem] bg-primaryRed text-sm text-primaryOffWhite tracking-[0.25rem] font-bold"
        href="{{ hero.btnLink }}"
        >{{ hero.btnText }}</a
      >
    </div>
    <!-- grid item 3 blog-posts -->
    <div class="bg-primaryVeryDarkBlue mt-16 py-4">
      <h2 class="px-5 text-3xl text-primaryOrange font-extrabold">New</h2>
      {% for item in blog.items %}
      <div class="py-5 px-5 space-y-2">
        <a
          class="text-primaryOffWhite text-lg font-extrabold"
          href="{{ item.link }}"
          >{{ item.title }}</a
        >
        <p class="text-sm text-primaryGrayishBlue">{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- cards separate grid -->
  <div class="grid gap-3 mt-12">
    {% for item in cards.items %}
    <div class="flex gap-4 items-center justify-center">
      <img class="w-24" src="{{ item.img }}" alt="{{ item.imgAlt }}" />
      <div>
        <h3>{{ item.index }}</h3>
        <a href="{{ item.link }}">{{ item.title }}</a>
        <p>{{ item.text }}</p>
      </div>
    </div>
    {% endfor%}
  </div>
</main>
